/* header background */
.header{
    background-color: #FFF8F3;
    background-image: url(image/istockphoto-1191719793-170667a.webp);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position:; */
    background-size: cover;
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    margin:0 150px;
    /* color: white; */
}
.logo{
    /* font-family: Open Sans; */
    font-size: 45px;
    font-weight: 800px;
    color: white;
}
.text-color{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    color: white;
}
.btn-style{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 00;
    padding: 8px;
}
#button{
    margin-right: 10px;
}
.strong-text{
    font-size: 17px;

}
.main-title{
    padding: 30px 30px 0px 150px;
    display: flex;
    color: white;
    align-items: center;
    justify-content:space-between ;
}
.photo{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}
h3.people{
    font-size: 20px;
    margin:0;
}
h1.easin{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:0;
}
.main-title > div > p {
    margin-top: -35px;
}
    

/* main section style */
main{
    max-width:1000px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.about-section{
    color: #181818;
    text-align: center;
    /* font-family: Open Sans; */
    font-size: 35px;
    /* font-style: normal; */
    font-weight: 700;
    
}
.about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}
.about-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}


/* what i do section start */

.summary{
    text-align: center;
    font-size: 27px;
    margin-bottom: 10px;
}

.section-titel{
    text-align: center;
}
.section-description{
    text-align: center;
    color: #757575;
}
/* style of skill */
#what-i-do{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-paragraph{
    padding: 0px;
    color: #757575;
}

/* A summary of My Resume*/
my-summary{
    color:dark-02, #474747;
    font-size: 30px;
    font-weight: 700;
}
.summary-container{
    display: flex;
    gap: 50px;
}
.resume-title{
    color:  #474747;
font-size: 25px;
font-weight: 700;
}
.resume-info, .resume-description{
    color: #757575;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}


/* footer section */
footer{
    display: flex;
    background-color:#FFF8F3 ;
    padding: 130px 300px;
    margin-top: 50px;
}
.foot-section{
    text-align: center;
}
.foot-description{
    color: #757575;
    
}
